html {
  width: 100 vw;
  height: 100 vh;
  & body {
    background-color: burlywood;
  }
}

* {
  margin: 0;
  padding: 0;
}

.english {
  font-family: "Times New Roman", Times, serif;
}

#top {
  #top {
    background-color: beige;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 5px 0px 0px 10px;

    & #company {
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
      font-weight: bold;
      color: goldenrod;
    }

    & #address {
      color: brown;
    }
  }

  #topRight {
    padding-left: 20px;
    align-content: right;

    & #telephone,
    #telephoneNo {
      color: brown;
    }

    & #whatsapp {
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
    }
  }
}

#middle {
  & #nav {
    background-color: greenyellow;
    padding: 3 px 15 px 3 px 10 px;
    font-size: 20 px;

    display: grid;
    grid-template-columns: 1 fr 1 fr;
    gap: 2 px;
    justify-content: left;
  }
}

#nav {
  background-color: greenyellow;
  padding: 3 px 15 px 3 px 10 px;
  font-size: 20 px;

  display: grid;
  grid-template-columns: 1 fr 1 fr;
  gap: 2 px;
  justify-content: left;
}

#bottom {
  padding: 20 px 5 px 10 px 5 px;
}

.about {
  padding-bottom: 10 px;

}

.card {
  padding: 20 px 10 px 10 px;
  /* border: 2 px solid red; */
}

pre {
  font-family: "Times New Roman", Times, serif;
  font-size: 16 px;
} 

/* #layer-1 {
  padding: 10 px;
} */

#DOCTORS {
  display: grid;
  grid-template-columns: 11 fr 16 fr;
  gap: 2 px;
  justify-content: left;
}

#HOURS,
#CONTACT {
  display: grid;
  grid-template-columns:  3 fr 7 fr;
  gap: 2 px;
  justify-content: left;
}

img {
  padding: 0 px;
}

.noShow,
#DOCTORS.noShow,
#HOURS.noShow,
#CONTACT.noShow {
  display: none;
}
