html {
  width: 100vw;
  height: 100vh;
  & body {
    background-color: burlywood;
  }
}

* {
  margin: 0;
  padding: 0;
}

.english {
  font-family: "Times New Roman", Times, serif;
}

#top {
  #top {
    background-color: beige;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 5px 0px 0px 10px;

    & #company {
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
      font-weight: bold;
      color: goldenrod;
    }

    & #address {
      color: brown;
    }
  }

  #topRight {
    padding-left: 20px;
    align-content: right;

    & #telephone,
    #telephoneNo {
      color: brown;
    }

    & #whatsapp {
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
    }
  }
}

#middle {
  & #nav {
    background-color: greenyellow;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 3px 15px 3px 10px;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    justify-content: left;
  }
}

#nav {
  background-color: greenyellow;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 3px 15px 3px 10px;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  justify-content: left;
}

#shortcut,
.about {
  padding-bottom: 10px;
}

.card {
  /* min-height: 350px; */
  padding: 10px;
  /* border: 2px solid red; */
}

pre {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#DOCTORS {
  display: grid;
  grid-template-columns: 11fr 16fr;
  gap: 2px;
  justify-content: left;
}

#HOURS,
#CONTACT {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2px;
  justify-content: left;
}

img {
  padding: 2px;
}

.noShow,
#DOCTORS.noShow,
#HOURS.noShow,
#CONTACT.noShow {
  display: none;
}
