html {
    width: 100vw;
    height: 100vh;
    background-color: hsl(180, 15%, 90%);
  }
  
* {
    margin: 0;
    padding: 0;
  }
  
  /* #band {
    height: 40px;
    background-color: bisque;
  } */
  
  
  #top {

    background-color: beige;

  }

  #company {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }

  #address {
    color: brown;
  }

  #telephone {
    color: chocolate;

  }
  
  #whatsapp {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
  }

#nav {

    background-color: greenyellow;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px;
    font-size: 20px;

}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: red;
  padding: 50px;
  font-size: 20px;
}

#content {
    background-color: lightgrey;
}


.card {

    height: 350px;
    background-color: green;
    border: 5px solid red;

}

/* .noShow {
  display: none;
} */



